<%= simple_form_for(@part) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :wo_number %>
    <%= f.input :part_number %>
    <%= f.input :part_description %>
    <%= f.input :unit_price %>
    <%= f.input :unit_quantity %>
    <%= f.input :parts_total %>
    <%= f.association :equipment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
