<h1>Listing parts</h1>

<table>
  <thead>
    <tr>
      <th>Wo number</th>
      <th>Part number</th>
      <th>Part description</th>
      <th>Unit price</th>
      <th>Unit quantity</th>
      <th>Parts total</th>
      <th>Equipment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.wo_number %></td>
        <td><%= part.part_number %></td>
        <td><%= part.part_description %></td>
        <td><%= part.unit_price %></td>
        <td><%= part.unit_quantity %></td>
        <td><%= part.parts_total %></td>
        <td><%= part.equipment %></td>
        <td><%= link_to 'Show', part %></td>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_part_path %>
