<p id="notice"><%= notice %></p>

<p>
  <strong>Wo number:</strong>
  <%= @part.wo_number %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @part.part_number %>
</p>

<p>
  <strong>Part description:</strong>
  <%= @part.part_description %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @part.unit_price %>
</p>

<p>
  <strong>Unit quantity:</strong>
  <%= @part.unit_quantity %>
</p>

<p>
  <strong>Parts total:</strong>
  <%= @part.parts_total %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @part.equipment %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
