<%= simple_form_for(@mileage) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :starting_mile %>
    <%= f.input :ending_mile %>
    <%= f.input :rate %>
    <%= f.input :total_miles %>
    <%= f.input :mile_total_cost %>
    <%= f.association :equipment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
