<%= form_for @mileage, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :starting_mile, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :starting_mile, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ending_mile, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :ending_mile, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rate, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :rate, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total_miles, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :total_miles, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mile_total_cost, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :mile_total_cost, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  mileages_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
