<h1>Listing mileages</h1>

<table>
  <thead>
    <tr>
      <th>Starting mile</th>
      <th>Ending mile</th>
      <th>Rate</th>
      <th>Total miles</th>
      <th>Mile total cost</th>
      <th>Equipment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mileages.each do |mileage| %>
      <tr>
        <td><%= mileage.starting_mile %></td>
        <td><%= mileage.ending_mile %></td>
        <td><%= mileage.rate %></td>
        <td><%= mileage.total_miles %></td>
        <td><%= mileage.mile_total_cost %></td>
        <td><%= mileage.equipment %></td>
        <td><%= link_to 'Show', mileage %></td>
        <td><%= link_to 'Edit', edit_mileage_path(mileage) %></td>
        <td><%= link_to 'Destroy', mileage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mileage', new_mileage_path %>
