<p id="notice"><%= notice %></p>

<p>
  <strong>Starting mile:</strong>
  <%= @mileage.starting_mile %>
</p>

<p>
  <strong>Ending mile:</strong>
  <%= @mileage.ending_mile %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @mileage.rate %>
</p>

<p>
  <strong>Total miles:</strong>
  <%= @mileage.total_miles %>
</p>

<p>
  <strong>Mile total cost:</strong>
  <%= @mileage.mile_total_cost %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= @mileage.equipment %>
</p>

<%= link_to 'Edit', edit_mileage_path(@mileage) %> |
<%= link_to 'Back', mileages_path %>
